workflows/gcal_workflow_v2.json
{
  "id": "gcal-workflow-v2",
  "name": "Google Calendar Create Event v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-event-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-v2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 200],
      "webhookId": "create-event-v2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "primary"
        },
        "start": "={{ $json.body?.start || $json.start }}",
        "end": "={{ $json.body?.end || $json.end }}",
        "additionalFields": {
          "summary": "={{ $json.body?.summary || $json.summary || 'New Event' }}",
          "description": "={{ $json.body?.description || $json.description || '' }}"
        }
      },
      "id": "gcal-node-v2",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [500, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "D7ACxhyvOGvmbbFS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseCode": 200
        },
        "responseBody": "={{ JSON.stringify({ success: true, eventId: $json.id, link: $json.htmlLink, summary: $json.summary }) }}"
      },
      "id": "respond-v2",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Create Event", "type": "main", "index": 0}]]
    },
    "Create Event": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
