workflows/gcal_paraguay.json
{
  "id": "gcal-paraguay",
  "name": "Google Calendar Paraguay",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-py",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [256, 304],
      "id": "webhook-py",
      "webhookId": "create-py"
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.body?.start || $json.start }}",
        "end": "={{ $json.body?.end || $json.end }}",
        "options": {
          "timeZone": "America/Asuncion"
        },
        "additionalFields": {
          "summary": "={{ $json.body?.summary || $json.summary }}",
          "description": "={{ $json.body?.description || $json.description }}"
        }
      },
      "name": "Create Event PY",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [464, 304],
      "id": "gcal-py-node",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "D7ACxhyvOGvmbbFS",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [656, 304],
      "id": "response-py"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Create Event PY", "type": "main", "index": 0}]]
    },
    "Create Event PY": {
      "main": [[{"node": "Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
