workflows/google_calendar_workflow_fixed.json
{
  "id": "gcal-workflow-001",
  "name": "Google Calendar - Create Event",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-calendar-event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        100
      ],
      "webhookId": "create-calendar-event"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "="
        },
        "start": "={{ $json.body?.start || $json.start }}",
        "end": "={{ $json.body?.end || $json.end }}",
        "additionalFields": {
          "summary": "={{ $json.body?.summary || $json.summary || 'New Event' }}",
          "description": "={{ $json.body?.description || $json.description || '' }}",
          "location": "={{ $json.body?.location || $json.location || '' }}"
        }
      },
      "id": "google-calendar-node",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        500,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "D7ACxhyvOGvmbbFS",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, eventId: $json.id, htmlLink: $json.htmlLink, message: \"Event created successfully\" }) }}"
      },
      "id": "respond-webhook-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      summary: 'Team Meeting',\n      description: 'Weekly team sync meeting',\n      location: 'Conference Room A',\n      start: new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString(),\n      end: new Date(Date.now() + 25 * 60 * 60 * 1000).toISOString()\n    }\n  }\n];"
      },
      "id": "sample-data-node",
      "name": "Sample Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Sample Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Data": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}