workflows/google_calendar_update_event_workflow.json
{
  "id": "gcal-workflow-003",
  "name": "Google Calendar - Update Event",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "events/update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 100],
      "webhookId": "events/update"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "="
        },
        "eventId": "={{ $json.body?.eventId || $json.body?.id }}",
        "start": "={{ $json.body?.start }}",
        "end": "={{ $json.body?.end }}",
        "updateFields": {
          "summary": "={{ $json.body?.summary }}",
          "description": "={{ $json.body?.description }}",
          "location": "={{ $json.body?.location }}"
        }
      },
      "id": "google-calendar-update-node",
      "name": "Google Calendar - Update",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [500, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, eventId: $json.id, htmlLink: $json.htmlLink, summary: $json.summary, message: 'Event updated successfully' }) }}"
      },
      "id": "respond-webhook-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 200]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [[{"node": "Google Calendar - Update", "type": "main", "index": 0}]]
    },
    "Webhook": {
      "main": [[{"node": "Google Calendar - Update", "type": "main", "index": 0}]]
    },
    "Google Calendar - Update": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
