workflows/google_calendar_event_creator.json
[{"updatedAt":"2026-03-03T17:30:59.655Z","createdAt":"2026-03-03T13:51:54.145Z","id":"OTuHLtza5YyOWYYX","name":"Google Calendar Event Creator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"calendar-event","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[256,304],"id":"923d73f5-eaff-480a-bf7a-cb7b97bff4e1","webhookId":"55a25578-3832-43cd-97c3-c8e55685a2d2"},{"parameters":{"calendar":"primary","start":"={{ $json.start_time }}","end":"={{ $json.end_time }}","additionalFields":{}},"name":"Create Google Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[464,304],"id":"93ed3b43-aaac-4527-8ea7-8e0e55ae1754","credentials":{"googleCalendarOAuth2Api":{"id":"D7ACxhyvOGvmbbFS","name":"Google Calendar account"}}},{"parameters":{"options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[656,304],"id":"f81d5780-0852-4468-a77f-7e55e7da098c"}],"connections":{"Webhook":{"main":[[{"node":"Create Google Calendar Event","type":"main","index":0}]]},"Create Google Calendar Event":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"541a3963-a491-45e9-8138-ccd1462c5661","activeVersionId":"541a3963-a491-45e9-8138-ccd1462c5661","versionCounter":18,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-03T13:51:54.148Z","createdAt":"2026-03-03T13:51:54.148Z","role":"workflow:owner","workflowId":"OTuHLtza5YyOWYYX","projectId":"nBPDRCo8Qe9SASPv","project":{"updatedAt":"2026-03-03T13:46:53.096Z","createdAt":"2026-03-03T13:41:42.726Z","id":"nBPDRCo8Qe9SASPv","name":"Kat AI <kat@agentmail.to>","type":"personal","icon":null,"description":null,"creatorId":"d75438b1-15dd-4b65-a5da-a0100a2a319e"}}],"versionMetadata":{"name":null,"description":null}}]