workflows/google_calendar_delete_event_workflow.json
{
  "id": "gcal-workflow-004",
  "name": "Google Calendar - Delete Event",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-node",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "events/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 100],
      "webhookId": "events/delete"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "="
        },
        "eventId": "={{ $json.query?.eventId || $json.query?.id }}",
        "options": {}
      },
      "id": "google-calendar-delete-node",
      "name": "Google Calendar - Delete",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [500, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, eventId: $json.query?.eventId || $json.query?.id, message: 'Event deleted successfully' }) }}"
      },
      "id": "respond-webhook-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 200]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [[{"node": "Google Calendar - Delete", "type": "main", "index": 0}]]
    },
    "Webhook": {
      "main": [[{"node": "Google Calendar - Delete", "type": "main", "index": 0}]]
    },
    "Google Calendar - Delete": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
